.dashboard-table {
  border-collapse: separate;
  border-spacing: 15px;
}

.main-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
